/*******************************************************************/
/***************************FUENTES*********************************/
/*******************************************************************/

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");


/*******************************************************************/
/*************************ESTILOS GLOBALES**************************/
/*******************************************************************/

body {
    font-family: "Lato", sans-serif;
}


/*******************************************************************/
/*************************SECCION PRINCIPAL*************************/
/*******************************************************************/


#principal {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}


/*******************************************************************/
/*************************DESCRIPCION*******************************/
/*******************************************************************/

.intro {
    text-align: center; /* Alinear el texto al centro */
    color: #F8EFEF; /* Color del texto */
    z-index: 2; /* Asegurar que esté por encima de otros elementos */
    position: absolute; /* Establecer posición absoluta */
    top: 40%; /* Colocar en la mitad superior del padre */
    left: 50%; /* Colocar en la mitad izquierda del padre */
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
}


.intro h1 {
   font-size: 2.5rem; /* Tamaño del encabezado */
   letter-spacing: 0.55rem; /* Espaciado entre letras */
   margin-bottom: 5px; /* Espaciado entre el encabezado y el párrafo */
}

.intro p {
    font-size: 0.8rem; /* Tamaño del párrafo */
    letter-spacing: 0.25rem; /* Espaciado entre letras */
    line-height: 1.3rem; /* Altura de línea */
    margin-bottom: 20px; /* Espaciado entre el párrafo y el enlace */
}


.intro a {
    display: block;
    width: fit-content;
    padding: 1.2rem 4.5rem;
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.3s;
    border-color: #F8EFEF;
    position: fixed;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.intro a:hover {
    background-color: transparent;
    border-color: #F8EFEF;
    color:#F8EFEF;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure it's behind other content */
}
.capa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
    z-index: -1; /* Ensure it's behind other content */
}
    /* Estilos para el loader */
    .loader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 8); /* Fondo negro semitransparente */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .loader {
        border: 8px solid #fff; /* Borde del loader blanco */
        border-top: 8px solid #3498db; /* Borde superior azul */
        border-radius: 50%; /* Forma circular */
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite; /* Animación de giro */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

        /* Oculta el loader cuando el video y el script se hayan cargado */
        .loaded .loader-container {
            display: none;
        }

        /* Asegura que el video sea visible cuando se elimine la clase loaded */
        .loaded video {
            display: block;
        }