* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;
}

.body {
  background-color: #000;
}
.small-img {
  width: 250px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: auto;
}
.about-text {
  font-size: 1.25rem;
  margin-top: 2%; /* Ajusta el tamaño del texto según tus preferencias */
}
.about-title {
  margin-bottom: 1rem; /* Espacio inferior del título */
}
@media (max-width: 768px) {
  .small-img {
    width: 150px; /* Tamaño más pequeño para la imagen en móviles */
  }
 img{
  margin-top: -10px;
 }
  .about-text {
    text-align: center; /* Centrar el texto en móviles */
    margin-top: 15px; /* Ajustar el margen superior del texto */
  }

  .about-title {
    margin-top: 10px;
    text-align: center; /* Centrar el título en móviles */
  }

  .d-flex {
    justify-content: center; /* Centrar la imagen en móviles */
  }

  .container {
    padding: 15px; /* Asegurarse de que el contenido tenga un poco de padding en dispositivos móviles */
  }
}
