body {
  background-color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.icon {
  margin: 0 20px;
  color: #fff;
  font-size: 40px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      margin: 1%;
  }
} 