
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.sexy-preview-load {

  text-align: center;
  top: 0;
  bottom: -10%;
  left: 0;
  right: 0;
  font-size: 100%;
  color: #f7f7f7;
height: 87vh;
  background: url(https://unsplash.imgix.net/uploads%2F14115409319165441c030%2Fa1d0230a?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=ceaf6a3ec69b55768d4546cb34f3fd7b);
   
  background-size: cover;
  background-position:center center;

}
.sexy-preview-load:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); /* rgba(0,0,0,0.6) */
  z-index: -1;
}



.avatar img {
 margin: 8.23em auto;
 width: 10em;
 height: auto;
 margin-bottom: .5em;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
 border-radius: 100%;
 box-shadow: 0 0 0 .5em rgba(0, 0, 0, 0.3);
 -webkit-transition:all ease-in-out;

 -moz-transition: all ease-in-out 0.2s;
 -o-transition: all ease-in-out 0.2s;
 transition: all ease-in-out 0.2s;
  -webkit-animation: box-loader-avatar 0.8s ease .3s infinite;
  -moz-animation: box-loader-avatar 0.8s ease .3s infinite;
  -ms-animation: box-loader-avatar 0.8s ease .3s infinite;
  -o-animation: box-loader-avatar 0.8s ease .3s infinite;
  animation: box-loader-avatar 0.8s ease .3s infinite;
}
.avatar img:hover{
  box-shadow: 0 0 0 .5em #000000;
  -webkit-transition: all ease-in-out;

  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
   -webkit-transition-duration:.8s;
    -moz-transition-duration:.8s;
      -o-transition-duration:.8s;
         transition-duration:.8s;
}

.sexy-preview-load a .contact { 
  position: relative;
  font-size: 2em;
  color: #f5f5f5; 
  opacity: .8;
}
.sexy-preview-load a .contact:hover { 
  color: rgba(241, 196, 15, 1.0); 
}
.sexy-preview-load a .contact:active { 
  color: rgba(241, 196, 15, 0.8); 
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.share-profiles { 
  margin: 2em auto;
}

.share-profiles a { 
  margin: 0 auto;
  margin-left: .4em;
  margin-right: .4em;
  display: inline-block; 
  color: #f5f5f5; 
  font-size: 3.23em;
  opacity: .8;
}
.share-profiles a:hover { 
  color: #333; 
}
.share-profiles a:active { 
  color: #111; 
}
.share-profiles a .fa-twitter:hover { 
  color: #00acee; 
}
.share-profiles a .fa-twitter:active { 
  opacity: 0.6;
}


