* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;

}

body {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

}

.container-s-f {
  display: flex;
  /* Usa flexbox */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 40vh;
  /* Altura del contenedor */
  margin: 5%;
}

.title-h1 {
  font-size: x-large;
  text-align: center;
  margin-bottom: 14px;

}

.centered {
  text-align: center;
  /* Alinea el texto en el centro */
}

.sec-second .container-detail {
  position: relative;
  min-height: 50%;
  width: 50%;
  padding: 20px 0 20px 7%;
  align-self: center;
  opacity: 0.7;
  z-index: 1;
}

.sec-second .container-detail h1 {
  font-size: 42px;

}


.sec-vid {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente el contenido */
  align-items: center;
  /* Centra verticalmente el contenido */
  height: 90vh;
  /* Ajusta la altura del contenedor al 100% del viewport */
}

.sec-vid iframe {
  max-width: 80%;
  /* Establece un ancho máximo del 80% del contenedor padre */
  width: 100%;
  /* Ajusta el ancho del iframe al 100% del contenedor padre */
  height: 90%;
  /* Establece la altura automáticamente según el ancho para mantener la proporción */
  max-height: 60vh;
  /* Establece una altura máxima del 60% del viewport */
  margin: 0 auto;
  /* Centra horizontalmente el iframe */
  display: block;
  /* Asegura que el iframe se muestre como un bloque */
}



.sec-third {
  display: flex;
  width: 100%;
  height: auto;
  /* padding: 100px 7%; */
  justify-content: space-around;
  flex-wrap: wrap;

}



@media (max-width: 800px) {

  iframe {
    margin: 2%;
  }
}