body {
    background-color: black;
    font-family: "Lato", sans-serif;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.8em;
}

.no-underline a {
    text-decoration: none;
    /* Quita el subrayado */
}

.item {
    position: relative;
    overflow: hidden;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color del fondo semi-transparente */
    color: white;
    opacity: 0;
    /* Oculta el overlay inicialmente */
    transition: opacity 0.3s ease;
    /* Transición suave para mostrar el overlay */
}

.item:hover .overlay {
    opacity: 1;
    /* Muestra el overlay al pasar el ratón sobre el elemento */
}

.overlay h2 {
    margin-bottom: 1rem;
    font-size: medium;
    font-weight: bold;
}



.overlay button {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    padding: 1rem;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    cursor: pointer;
}