body {
    background-color: black;
}

.card-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Permite hacer clic en la tarjeta y no solo en el overlay */
}

.card.visible .card-overlay {
    opacity: 1;
    pointer-events: auto; /* Activa los eventos del overlay cuando es visible */
}

.card-overlay h2 {
    margin-bottom: 1rem;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.card {
    position: relative;
    border: none; /* Cambia el color a tu preferencia */
}

.card:hover .card-overlay {
    opacity: 1;
}


@media screen and (min-width: 768px) {
    .desktop-container {
        width: 100%; 
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }
}

.container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.footer {
    background-color: rgb(18, 17, 17) ;
    padding: 20px 0; /* Añade algo de espacio alrededor del footer */
    text-align: center; /* Asegúrate de que el texto esté centrado */
  }
  
  .icon-container {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    align-items: center; /* Centra los iconos verticalmente */
  }
  
  .icon {
    margin: 0 10px; /* Espacio entre iconos */
    font-size: 24px; /* Tamaño de los iconos */
    color: white; /* Color de los iconos */
  }
  
  .instagram-icon:hover,
  .whatsapp-icon:hover,
  .gmail-icon:hover {
    color: #2a2a2a; /* Cambia a un color diferente en hover (ajusta según tu preferencia) */
  }

