body{
    background-color: black;
}
.card-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-overlay h2 {
    margin-bottom: 1rem;
    font-size: medium;
    font-weight: bold;
}
.card {
    border: 2px solid #424141; /* Cambia el color a tu preferencia */
}

.btn-view-more {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}
.desktop-container {
    height: 100vh;
    width: 100%; /* Puedes ajustar este valor según tus necesidades */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 2%;
}