* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;

}

body {
  background-color: #000;
}

.row {
  width: 100%;
  margin-left: 1%; 
}

iframe {
  width: 100%;
  height: 50vh;
}

.description {
  text-align: center;
  margin-top: 2%;
  height: 300px; /* Establece una altura fija para el div de la descripción */
  overflow-y: auto; /* Habilita el scroll vertical cuando el contenido exceda la altura */
} 
.description h1{
  font-size: xx-large;
}


@media (max-width: 800px) {
  iframe {
    width: 100%;
    height: 30vh;
  }

  .description {
    margin-top: 4%;
  }

  .video-container {
    margin-top: 4%;
  }
}
.scroll-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.scroll-arrow i {
  color: white;
  font-size: 24px;
  transition: transform 0.3s;
}

.scroll-arrow.upwards i {
  transform: rotate(180deg);
}